div {
  &.card {
    max-height: 500px;
    min-height: 500px;
  }
}
i {
  cursor: pointer;
}


.synopsis {
  display: -webkit-box;
  -webkit-line-clamp: 4; // number of lines shown
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
